#root {
min-height: 100vh;
  margin: 0;
  padding: 0;
  background-color: #121212;
  color: white;
}

a {
  text-decoration: none !important;
}
html, body {
  overflow-x: auto; /* Allow horizontal scrolling */
}
